body {
	color: darkslategrey;
	text-align: center;
    background-color: thistle;
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
}

h1 {
	border-style: double;
	font-weight: bold;
	font-size: 80px;
}

div h3 {
	border-style: double;
	font-weight: bold;
	font-size: 60px;
}

p {
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
	font-size: 15px;
}

/* 
#btn {
    position:absolute;
    transition: .5s ease;
    top: 100px;
    left: 100px;
}
 */